@import "../../styles/config";
@import "../../styles/dial-common";

.timepicker-period {
    display: flex;
    flex-direction: column;
    position: relative;

    border: 1px solid #676775;
    border-radius: 8px;
    overflow: hidden;

    &__btn {
        padding: 8px 12px;
        border: 0;
        background-color: transparent;
        font-size: 16px;
        font-weight: 500;
        user-select: none;
        outline: none;
        transition: background-color .5s;
        font-family: $primary-font-family;

        &.timepicker-dial__item_active {
            background-color: var(--dial-editable-active-color)
        }

        @supports (font-family: var(--primary-font-family)) {
            font-family: var(--primary-font-family)
        }

        &:first-child {
            border-bottom: 1px solid #676775;
        }
    }

    &__warning {
        padding: 8px 12px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .55);
        color: #ffffff;
        position: absolute;
        width: 200px;
        left: -20px;
        top: 40px;
        & > p {
            margin: 0;
            font-size: 12px;
            font-family: $primary-font-family;
            @supports (font-family: var(--primary-font-family)) {
                font-family: var(--primary-font-family)
            }
        }
    }
}
